<div class='row'>
    <div class='col-md-12'>
        <div class='alert alert-info'>
            <b style="text-transform: uppercase;">Important</b>
            <br />
            {% trans %}Your session will automatically expire after two hours if the page is not manually saved. To avoid any loss of information, it is recommended to periodically save your progress using the Save and Next button.{% endtrans %}
        </div>
    </div>
</div>
