{% extends "::base.html.twig" %}

{% block title %}{% trans %}See Best Practice{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Show Best Practice{% endtrans %}
                </h1>
            </div>
        </div>

        {% if protocol.status in ["A","E","H"] and protocol.notes != "" %}
            <div class='row'>
                <div class='col-md-12'>
                    <div class='alert alert-success'>
                        <b>{% trans %}Notes{% endtrans %}:</b> {{ protocol.notes }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if protocol.status == "N" and protocol.rejectReason != "" %}
            <div class='row'>
                <div class='col-md-12'>
                    <div class='alert alert-danger'>
                        <b>{% trans %}Notes{% endtrans %}:</b> {{ protocol.rejectReason }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if protocol.status == "C" and protocol.returnReason != "" %}
            <div class='row'>
                <div class='col-md-12'>
                    <div class='alert alert-warning'>
                        <b>{% trans %}Notes{% endtrans %}:</b> {{ protocol.returnReason }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $(".toggle-block").trigger('click');
        });
    </script>
{% endblock %}
